@model PlacesViewModel;

<div>
    <h1 class="text-center my-4">New Events</h1>
    <div class="my-3">
        <h2>Types</h2>
        <div>
            @foreach(var type in Model.PlaceTypes)
            {
                <button class="btn btn-outline-secondary">@type.Name</button>
            }
        </div>
    </div>
    <div class="row">
        
        @foreach(var _event in Model.Places)
        {
            <div class="col">
                <div style="width: 18rem;">
                    <img src="@_event.Images.First()?.Path" class="card-img-top" alt="@_event.Images.First()?.Title">
                    <div class="cb-green my-flex">
                        <h5 class="w-auto">@_event.Name</h5>
                        <p class="w-auto">@_event.Route</p>
                        <a asp-action="Details" asp-route-id="@_event.Id" class="btn btn-primary w-auto mb-1" aria-current="true">Details</a>
                    </div>

                </div>
            </div>
        }
    </div>
</div>
<style>
    .my-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
}
</style>