@model EventsViewModel;


<div>
    <h1 class="text-center my-4">New Events</h1>
    <div class="my-3">
        <h2>Types</h2>
        <div>
            @foreach(var type in Model.EventTypes)
            {
                <button class="btn btn-outline-secondary">@type.Name</button>
            }
        </div>
    </div>
    <div class="row">
        
        @foreach(var _event in Model.Events)
        {
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="@_event.Images.First()?.Path" class="card-img-top" alt="@_event.Images.First()?.Title">
                    <div class="cb-pink">
                        <h5>@_event.Title</h5>
                        <p>@_event.EventTime</p>
                        <p>@_event.Place?.Route</p>
                        <div class="row justify-content-center">
                        <a asp-action="Details" asp-route-id="@_event.Id" class="btn btn-primary" aria-current="true">Details</a>
                        </div>
                    </div>

                </div>
            </div>
        }
    </div>
</div>