@using ASPNET.Helpers
@using Database.Models
@model IEnumerable<Event>;
@{
    Toster? toastrMsg = TempData[WebConstants.TOASTR_MESSAGE] as Toster;
}

<h1 class="text-center">Events List</h1>

<div class="overflow-scroll">
<table class="table mt-4">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Is Online</th>
            <th scope="col">Place</th>
            <th scope="col">Site</th>
            <th scope="col">Facebook</th>
            <th scope="col">Instagram</th>
            <th scope="col">Creation Time</th>
            <th scope="col">Event Time</th>
            <th scope="col">Price</th>
            <th scope="col">Owner</th>
            <th scope="col">Is Moderated</th>
            <th scope="col">Event Types</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var _event in Model)
        {
            <tr>
                <th class="align-middle" scope="row">@_event.Id</th>
                <td class="align-middle">@_event.Title</td>
                <td class="align-middle">@_event.IsOnline</td>
                <td class="align-middle">@_event.Place?.Name</td>
                <td class="align-middle">@_event.Site</td>
                <td class="align-middle text-truncate">@_event.Facebook</td>
                <td class="align-middle text-truncate">@_event.Instagram</td>
                <td class="align-middle">@_event.CreationTime</td>
                <td class="align-middle">@_event.EventTime</td>
                <td class="align-middle">@_event.Price</td>
                <td class="align-middle">@_event.Owner?.UserName</td>
                <td class="align-middle">@_event.IsModerated</td>
                 <td class="align-middle">
                    @foreach(var type in @_event.Types)
                    {
                        <p>@type.Name</p>
                    }
                 </td>
                <td class="align-middle">
                    <div class="btn-group" role="group">
                        <a asp-action="Edit" asp-route-id="@_event.Id" class="btn btn-warning">Edit</a>
                        <a asp-action="Delete" asp-route-id="@_event.Id" class="btn btn-danger">Delete</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
</div>

<a asp-action="Create" class="btn btn-primary">Create New Event</a>
<div class="position-fixed top-0 end-0 p-3" style="z-index: 11">
    <div id="toastr-block" data-bs-autohide="true" data-bs-animation="true" class="toast align-items-center text-white bg-primary border-0" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body">
                @toastrMsg?.Text
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
</div>

@if (toastrMsg != null)
{
    @section Scripts
    {
    <script>
        var toastLiveExample = document.getElementById('toastr-block');
        var toast = new bootstrap.Toast(toastLiveExample);
        toast.show();
    </script>
    }
}
